GPATH
GRTAGS
GSYMS
GTAGS
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.o
*.swp
*.ta
Android.mk
cscope.*
out/

# Ignore all examples that I do not use
random
docs
acipher
hotp
aes/host/optee_example_aes
hello_world/host/optee_example_hello_world
secure_storage/host/optee_example_secure_storage
